@font-face {
  font-family: 'Yantramanav';
  src: local('Yantramanav'), url(./fonts/Yantramanav.ttf) format('truetype');
}
@font-face {
  font-family: 'Mark';
  src: local('Mark'), url(./fonts/Mark-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./fonts/futura-condensed-extrabold.ttf) format('truetype');
}
